.View {
	display: block;
	cursor: pointer;
	margin: .5em 0;
}

.View span {
	display: inline-block;
}
.View .Name {
	font-weight: bold;
	width: 40%;
}
.View .Required {
	float: right;
	color: #ED4245;
}

.Editor .Name {
	display: inline-block;
	width: 50%;
}
.Editor .Type {
	display: inline-block;
	width: 50%;
}