* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #36393F;
  color: #dcddde;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h2 {
  margin-top: 0px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #42454A;
}

/* 
 * Error line
 */

.error-line {
  background: rgba(237,66,69,.1);
	border: 2px solid rgba(237,66,69,.5);
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

/*
 * Discord input style
 */

label {
  text-transform: uppercase;
  margin: 1.3em 0 0.5em 0;
  display: block;
  font-weight: 500;
  font-size: .9rem;
  color: #B9BBB2;
}

input,textarea, select {
  background: #303339;
  display: block;
  border: 1px solid #222428;
  border-radius: 3px;
  color: #F4F5F5;
  padding: .5rem .7rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  transition: border 0.3s;
  resize: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #00AFF4;
}

input:invalid, textarea:invalid, select:invalid {
  outline: none;
  border-color: #ED4245;
}

button,.btn,input[type=submit] {
  margin-top: 1rem;
  background: #5865F2;
  border: 1px solid #5865F2;
  border-radius: 3px;
  padding: .5rem 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover,.btn:hover,input[type=submit]:hover {
  background: #4752C4;
  border: 1px solid #4752C4;
}
.btn-secondary {
  background: #4F545C;
  border: 1px solid #4F545C;
}
.btn-secondary:hover {
  background: #5D6269;
  border: 1px solid #5D6269;
}
.btn-danger {
  background: #ED4245;
  border: 1px solid #ED4245;
}
.btn-danger:hover {
  background: #C03537;
  border: 1px solid #C03537;
}

.float-right {
  float: right;
}